<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Products</title>
	</head>
	<body>
		<nav>
			<a href="/products">Back to Products Index</a>
		</nav>
		Product: <%=product.name %> <br />
		Description: <%=product.description %> <br />
		<img src=<%=product.img %> <br />
		Price: <%=product.price %> <br />
		Quantity: <%=product.qty %> <br />
		
		<a class="productlink" href="/products/<%= product._id %>/edit">Edit</a>
        
        <br></br>
        <form style="display:inline;" action="/products/<%= product._id %>?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="DELETE" />
        </form>   
    </div>
	</body>
</html>